:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background: url("bg.jpg") repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.streets-and-alleys {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: min(1.5vw, 1.5vh);
  grid-row-gap: min(1.5vw, 1.5vh);
  padding: min(1.5vw, 1.5vh);
}

.row {
  --col-width: min(2.5vw, 3.5vh);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, var(--col-width)));
  overflow: auto;
  grid-auto-flow: column;
  justify-items: start;
}
.row:has(> :nth-child(10)) {
  --col-width: min(2.2vw, 3.2vh);
}
.row:has(> :nth-child(14)) {
  --col-width: min(1.8vw, 2.8vh);
}

.row.left {
  direction: rtl;
}
